.kpi-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.kpi-card {
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 180px;
    font-family: Arial, sans-serif;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.kpi-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.kpi-title {
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
}

.kpi-value {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.kpi-generic {
    background-color: #f8f9fa;
    border: 4px solid black;
}

.kpi-stroke {
    background-color: #f8f9fa;
    border: 4px solid #cd5c5c;
}

.kpi-no-stroke {
    background-color: #f8f9fa;
    border: 4px solid #20b2aa;
}
