.kpi-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;
}

.kpi-card {
    background: #f8f9fa;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 180px;
    font-family: Arial, sans-serif;
}

.kpi-title {
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
}

.kpi-value {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.kpi-stroke {
    background-color: #cd5c5c;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 180px;
    font-family: Arial, sans-serif;
}

.kpi-no-stroke {
    background-color: #20b2aa;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 180px;
    font-family: Arial, sans-serif;
}
